<h1>Video Details</h1>

<ul>

  <li>
    <strong>Url:</strong>
    <%= @video.url %>
  </li>

  <li>
    <strong>Title:</strong>
    <%= @video.title %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @video.description %>
  </li>

</ul>

<%= link "Watch", to: Routes.watch_path(@conn, :show, @video), class: "button" %>
&nbsp;
<span><%= link "Edit", to: Routes.video_path(@conn, :edit, @video) %></span>
&nbsp;
<span><%= link "Back", to: Routes.video_path(@conn, :index) %></span>
