/* This file is for your main application css. */
// @import "./phoenix.css";
.btn-group{
  padding-top: 1rem;
}
.btn, .btn-large, .btn-small{
  background-color: #ee6e73;
}
.btn:hover, .btn-large:hover, .btn-small:hover{
  background-color: #ec5459;
}
.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus {
  background-color:  #ec5459;
}
nav .brand-logo{
  padding-left: 0.5em;
}
.form{
  width: 50%;
}
.table-btn{
  margin-top: 1em;
}
.video-header{
  margin-bottom: 2rem;
}
.annotations-header{
  margin-top: 0;
}
a {
  color: #26a69a;
  font-size: 18px;
}
#msg-input{
  font-size: 18px;
}
#user-list li{
  display: inline;
}
.user-status{
  margin: 0.5em;
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}
